body
{
	height:100%;
   	width:100%;
	background-image:url("https://gkzhp-my.sharepoint.com/personal/marek_musialik_zhp_net_pl/_layouts/15/guestaccess.aspx?docid=1272ca970bdc94ac0b953c7a6a6654606&authkey=ASkYQ279VXonRF_N_sBo8OU");
	background-repeat: no-repeat;
 	background-size: cover;
	background-color: #cccccc;
	color: ffffff;
}
